{% extends "main/_base.html" %} 
{% load staticfiles %} 
{% block page_content %}
<div id="homepage-banner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item  active" style="background-image: url({% static 'main/img/bkg_00.jpg' %});"></div>
        <div class="carousel-item" style="background-image: url({% static 'main/img/bkg_01.jpg' %});"></div>
        <div class="carousel-item" style="background-image: url({% static 'main/img/bkg_02.jpg' %});"></div>
        <div class="carousel-item" style="background-image: url({% static 'main/img/bkg_03.jpg' %});"></div>
        <div class="carousel-item" style="background-image: url({% static 'main/img/bkg_04.jpg' %});"></div>
    </div>
    <img class="lazy" style="bottom: 50px;" src="{% static 'main/img/title.png' %}" alt="">
    <img class="lazy" style="bottom: 20px;" src="{% static 'main/img/subtitle.png' %}" alt="">
</div>
<nav id="menu" class="navbar navbar-default" role="navigation">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link" href="#yingshi">影视</a></li>
        <li class="nav-item"><a class="nav-link" href="#hongjiu">红酒</a></li>
        <li class="nav-item"><a class="nav-link" href="#yangsheng">养生</a></li>
        <li class="nav-item"><a class="nav-link" href="#chenxiang">沉香</a></li>
        <li class="nav-item"><a class="nav-link" href="#mote">模特</a></li>
    </ul>
</nav>
<!-- <div class="title">
    <img src="{% static 'main/img/tangbofu_title.png'%}" alt="">    
    <div class="band left red"></div>
    <div class="band right red"></div>
    <p>京城高端私人会所</p>
</div> -->
<div class="page" id="yingshi">
    <div class="title">
        <img class="lazy" data-original="{% static 'main/img/tangbofu_title.png'%}" alt="">
        <div class="band left blue"></div>
        <div class="band right blue"></div>
    </div>
    <div class="banner yingshi">
        <img class="lazy" data-original="{% static 'main/img/banner/yingshi.JPG'%}" alt="">
    </div>
    <div class="text-block yingshi">
        <div class="img-frame">
            <img class="lazy" data-original="{% static 'main/img/module/yingshi1.jpg'%}" alt="">
            <img class="lazy" data-original="{% static 'main/img/module/yingshi2.jpg'%}" alt="">
        </div>
        <p>2014年上海电影节<span class="big">获奖投资</span></p>
        <p>传媒是我们集团旗下一项重要产业，我公司助导多部著名电影和多部青春影视。</p>
        <p>著名韩国导演，中国新生代制片人的加盟，进一步促进我公司影业的未来发展。</p>
        <p>众多男模、女模的签约更使锦上添花。</p>
        <p>2014年上海电影节我公司推出《青春》剧荣获<span class="big">最佳美术奖、最具潜力奖</span>。</p>
        <p>2015年又一新作投巨资1.8亿，即将梦幻上演......</p>
    </div>
</div>
<div class="page" id="hongjiu">
    <div class="title">
        <img class="lazy" data-original="{% static 'main/img/tangbofu_title.png'%}" alt="">
        <div class="band left purple"></div>
        <div class="band right purple"></div>
    </div>
    <div class="banner hongjiu">
        <img data-original="{% static 'main/img/banner/hongjiu.JPG'%}" alt="">
    </div>
    <div class="text-block hongjiu">
        <div class="img-frame">
            <img class="lazy" data-original="{% static 'main/img/module/hongjiu1.jpg'%}" alt="">
            <img class="lazy" data-original="{% static 'main/img/module/hongjiu2.jpg'%}" alt="">
        </div>
        <p><span class="big">红酒</span>充满<span class="big">贵族</span>的气息</p>
        <p>赋予<span class="big">浪漫</span>的情调</p>
        <p>高档红酒有不菲的收藏价值</p>
        <p>而顶级红酒的储存莫过于<span class="big">专业酒窖</span></p>
        <p>我公司彰显酒的文化和价值，储藏多款来自法国、意大利、澳洲、智利等国家的佳酿，收藏了近万支名贵的葡萄酒。</p>
    </div>
</div>
<div class="page" id="yangsheng">
    <div class="title">
        <img class="lazy" data-original="{% static 'main/img/tangbofu_title.png'%}" alt="">
        <div class="band left yellow"></div>
        <div class="band right yellow"></div>
    </div>
    <div class="banner yangsheng">
        <img class="lazy" data-original="{% static 'main/img/banner/yangsheng.JPG'%}" alt="">
    </div>
    <div class="text-block yangsheng">
        <div class="img-frame">
            <img class="lazy" data-original="{% static 'main/img/module/chadao1.jpg'%}" alt="">
            <img class="lazy" data-original="{% static 'main/img/module/chadao2.jpg'%}" alt="">
        </div>
        <p>唐泊府内部所奉之茶，以高端三品为养之道——<span class="big">品茶、品香、品足</span>。</p>
        <p>茶来源于集团旗下福建省武夷山私属茶山。</p>
        <p>会馆醇享中国茶的理念，坚守自然生态健康的原则。</p>
        <p>茶味滴滴浓香，意郁未尽，令人平心静气，走入<span class="big">禅</span>境，以茶修身养生，从而最终达到<span class="big">真、清、静</span>的精神境界。</p>
    </div>
</div>
<div class="page" id="chenxiang">
    <div class="title">
        <img class="lazy" data-original="{% static 'main/img/tangbofu_title.png'%}" alt="">
        <div class="band left green"></div>
        <div class="band right green"></div>
    </div>
    <div class="banner chenxiang">
        <img class="lazy" data-original="{% static 'main/img/banner/chenxiang.JPG'%}" alt="">
    </div>
    <div class="text-block chenxiang">
        <div class="img-frame">
            <img class="lazy" data-original="{% static 'main/img/module/chenxiang1.jpg'%}" alt="">
            <img class="lazy" data-original="{% static 'main/img/module/chenxiang2.jpg'%}" alt="">
        </div>
        <p><span class="big">沉香</span>香品高雅，而且十分难得，自古以来即被列为<span class="big">众香之首</span>。 </p>
        <p>《本草纲目》记：“其积年老木，长年其外皮俱朽，木心与枝节不坏，坚黑沉水者，即沉香也”。</p>
        <p>一般只有数十年以上的香树才可能形成沉香，而且从结香到成熟又需要很多年，所以上品天然沉香为无价之宝。</p>
        <p>沉香生则色如墨、熟则重如金，奇楠坚如金、润如玉、香如蜜。</p>
    </div>
</div>
<div class="page" id="mote">
    <div class="title">
        <img class="lazy" data-original="{% static 'main/img/tangbofu_title.png'%}" alt="">
        <div class="band left red"></div>
        <div class="band right red"></div>
    </div>
    <div class="banner mote">
        <img class="lazy" data-original="{% static 'main/img/banner/mote.JPG'%}" alt="">
    </div>
    <div class="text-block mote">
        <div class="img-frame">
            <img class="lazy" data-original="{% static 'main/img/module/mote1.jpg'%}" alt="">
            <img class="lazy" data-original="{% static 'main/img/module/mote2.jpg'%}" alt="">
        </div>
        <p><span class="big">她</span>，露凝玉腿，弥漫着淡淡的诱惑。</p>
        <p><span class="big indent">她</span>，手法奇巧富灵性，技艺精湛纯熟。</p>
        <p><span class="big indent2">她</span>，为您带来身心愉悦和美妙放松的感受。</p> 
        <p><span class="big indent">她</span>，浓郁充盈的古典气质体现出我们最终极的御制养生古法。</p>
    </div>
</div>
{% include 'main/_footer.html' %} 
{% endblock page_content%} 

{% block js %}
<script>
$('.carousel').carousel({
    interval: 3000,
    wrap: true
});

function resize() {
    $("body").height($(window).height());
    $("#homepage-banner .carousel-inner").height($("body").height());


}
$(function() {
    resize();
    setInterval(resize, 500);
 
    $("img.lazy").lazyload({ 
        effect : "fadeIn" 
    }); 

});

function bodyScroll() {
    var scrollTop = $(window).scrollTop();
    if (scrollTop >= $('#homepage-banner').offset().top + $('#homepage-banner').height()) {
        $('#menu').addClass('fix');
    } else {
        $('#menu').removeClass('fix');
    }
}
$(window).scroll(bodyScroll);

</script>
{% endblock js %}
