@charset "utf-8";
@import "common";
@import "element";


#homepage-banner {
    width: 100%;
    
    .carousel-item {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-color: white;
    }

    img {
        position: absolute;
        z-index: 100;
        max-width: 100%;
        right: 10%;
        bottom: 10%;
    }
}
@media (max-width:720px) {
    #homepage-banner {
        img {
            right: 0;
        }
    }
}

#menu {
    width: 100%;
    border-radius: 0px;
    z-index: 100;
    background-color: white;
    padding: 0;
    .nav-pills, .nav-link {
        border-radius: 0;
    }
    ul li.nav-item {
        width: 16%;
        line-height: 2em;
        display: inline-block;
        margin: 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
        text-align: center;
    }
    ul li.nav-item:last-child {
        width: 20%;
    }
    .nav-link {
        color: #666666;
        position: relative;
        &.active {
            background-color: $red;
            color: white;
        }
        &:after {
            position: absolute;
            right: 1px;
            content: '|';
            width: 1px;
            color: silver;
        }
    }
    li:last-child .nav-link{
        &:after {
            content: '';
        }
    }
}

.title {
    margin-top: 40px;
    position: relative;
    height: 100px;
    img {
        display: block;
        margin: 0 auto;
        z-index: 10;
        width: 256px;
        position: absolute;
        left: 50%;
        margin-left: -128px;
    }
    h4 {
        margin: 0 auto;
        z-index: 10;
        width: 256px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }
    
    p {
        position: absolute;
        width: 100%;
        top: 70px;
        text-align: center;
        letter-spacing: 4px;
    }
}

.page {
   overflow: hidden;
}

@media (min-width:721px) {
span.big {
    font-size: 2em;
} 
.indent {
    padding-left: 5em;
}
.indent2 {
    padding-left: 10em;
}
}

.text-block {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    padding-bottom: 2em;
    .img-frame {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        overflow: hidden;
        //display: flex;
    }
    p {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        color: white;
        font-size: 18px;
    }
    img {
        float: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}
@media (max-width:720px) {
.text-block {
    padding: 0;
    min-height: 600px;
    color: white;
    .img-frame {
        max-width: 100%;
        margin-bottom: 20px;
    }
    p {
        max-width: 100%;
    }
    img {
        float: left;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
}
i {
    margin-right: 0.5em;
}
footer {
    width: 400px;
    min-height: 500px;
    
    padding-bottom: 2em;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

    h4 {
        margin-top: 2em;
        font-weight: bold;
    }
    p {
        color: #666666;
        padding: 1em 10%;
    }
    li {
        margin-left: 2em;
        line-height: 2em;
    }
}
@media (max-width:720px) {
footer {
    width: 100%;
}
}
.contact {
    text-align: center;
}