@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', sans-serif !important; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  list-style-type: none;
  text-decoration: none; }

h4 {
  text-align: center; }

.fullscreen {
  position: relative;
  width: 100%;
  height: 100%; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.fix {
  position: fixed;
  top: 0px; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', sans-serif !important; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  list-style-type: none;
  text-decoration: none; }

h4 {
  text-align: center; }

.fullscreen {
  position: relative;
  width: 100%;
  height: 100%; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.fix {
  position: fixed;
  top: 0px; }

.band {
  height: 0;
  width: 50px;
  position: absolute;
  top: 25px; }

.red {
  color: #C1272D; }

.red.band {
  border: 3px solid #C1272D; }

.purple {
  color: #4b1040; }

.purple.band {
  border: 3px solid #4b1040; }

.yellow {
  color: #b5a82f; }

.yellow.band {
  border: 3px solid #b5a82f; }

.blue {
  color: #223e71; }

.blue.band {
  border: 3px solid #223e71; }

.green {
  color: #6c6c4b; }

.green.band {
  border: 3px solid #6c6c4b; }

.band.left {
  left: 50%;
  margin-left: -130px; }

.band.right {
  right: 50%;
  margin-right: -130px; }

.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }

.banner.yingshi {
  background: url(./../img/banner/bg_yingshi.JPG) repeat left top; }

.banner.hongjiu {
  background: url(./../img/banner/bg_hongjiu.JPG) repeat left top; }

.banner.mote {
  background: url(./../img/banner/bg_mote.JPG) repeat left top; }

.banner.yangsheng {
  background: url(./../img/banner/bg_yangsheng.JPG) repeat left top; }

.banner.chenxiang {
  background: url(./../img/banner/bg_chenxiang.JPG) repeat left top; }

.yangsheng {
  background: url(./../img/tile/yangsheng.png) repeat left top; }

.yingshi {
  background: url(./../img/tile/yingshi.png) repeat left top; }

.hongjiu {
  background: url(./../img/tile/hongjiu.png) repeat left top; }

.chenxiang {
  background: url(./../img/tile/chenxiang.png) repeat left top; }

.mote {
  background: url(./../img/tile/mote.png) repeat left top; }

.news-bg {
  background-color: #f8f8f8; }

.text-area {
  width: 600px;
  padding-bottom: 2em;
  position: relative;
  height: 100%; }

.notice {
  color: #666;
  text-align: center;
  font-size: 18px;
  margin: 2em;
  height: 300px; }

span.date {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
  display: inline; }

.news-block {
  max-width: 80%;
  min-width: 600px;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 400px;
  position: relative;
  border: 1px solid #CCCCCC;
  background-color: white; }
  .news-block ul {
    margin-bottom: 60px;
    margin-left: 30px; }
  .news-block li {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 1em;
    padding-bottom: 1em; }
    .news-block li .list-title {
      overflow: hidden;
      word-break: break-all;
      line-height: 22px;
      margin-top: 20px; }
    .news-block li h3 a {
      font-size: 18px;
      text-decoration: none;
      color: #333333;
      display: inline; }
    .news-block li h3 a:hover {
      color: #f95346; }
    .news-block li .desc-text > a {
      font-size: 14px;
      color: #999;
      text-decoration: none; }
  .news-block li:last-child {
    border-bottom: 0; }

.right {
  display: inline;
  float: right; }

.article {
  padding: 2em 4em; }
  .article h3 {
    text-align: center;
    font-size: 2em;
    margin: 2em 0; }

#page-list {
  position: absolute;
  left: 240px;
  right: 0px;
  bottom: 2em;
  background-color: white;
  text-align: right;
  padding: 1em;
  font-size: 0.8em;
  border-top: 1px solid #c1c2c6;
  border-bottom: 1px solid #c1c2c6; }

#page-list span {
  padding: 0px 10px;
  margin: 0px; }

#page-list a {
  color: #a1865d;
  /*棕褐色*/
  text-decoration: underline; }

.bottom-bar {
  position: relative;
  background-color: white;
  text-align: right;
  padding: 1em;
  overflow: hidden;
  font-size: 0.8em;
  border-top: 1px solid #c1c2c6;
  border-bottom: 1px solid #c1c2c6; }
  .bottom-bar a {
    float: right;
    color: #a1865d;
    /*棕褐色*/
    text-decoration: underline; }

#homepage-banner {
  width: 100%; }
  #homepage-banner .carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: white; }
  #homepage-banner img {
    position: absolute;
    z-index: 100;
    max-width: 100%;
    right: 10%;
    bottom: 10%; }

@media (max-width: 720px) {
  #homepage-banner img {
    right: 0; } }
#menu {
  width: 100%;
  border-radius: 0px;
  z-index: 100;
  background-color: white;
  padding: 0; }
  #menu .nav-pills, #menu .nav-link {
    border-radius: 0; }
  #menu ul li.nav-item {
    width: 14%;
    line-height: 2em;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    text-align: center; }
  #menu ul li.nav-item:last-child {
    width: 16%; }
  #menu .nav-link {
    color: #666666;
    position: relative; }
    #menu .nav-link.active {
      background-color: #C1272D;
      color: white; }
    #menu .nav-link:after {
      position: absolute;
      right: 1px;
      content: '|';
      width: 1px;
      color: silver; }
  #menu li:last-child .nav-link:after {
    content: ''; }

.title {
  margin-top: 40px;
  position: relative;
  height: 100px; }
  .title img {
    display: block;
    margin: 0 auto;
    z-index: 10;
    width: 256px;
    position: absolute;
    left: 50%;
    margin-left: -128px; }
  .title h4 {
    margin: 0 auto;
    z-index: 10;
    width: 256px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder; }
  .title p {
    position: absolute;
    width: 100%;
    top: 70px;
    text-align: center;
    letter-spacing: 4px; }

.page {
  overflow: hidden; }

@media (min-width: 721px) {
  span.big {
    font-size: 2em; }

  .indent {
    padding-left: 5em; }

  .indent2 {
    padding-left: 10em; } }
.text-block {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  padding-bottom: 2em; }
  .text-block .img-frame {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden; }
  .text-block p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white;
    font-size: 18px; }
  .text-block img {
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }

@media (max-width: 720px) {
  .text-block {
    padding: 0;
    min-height: 600px;
    color: white; }
    .text-block .img-frame {
      max-width: 100%;
      margin-bottom: 20px; }
    .text-block p {
      max-width: 100%; }
    .text-block img {
      float: left;
      margin-left: auto;
      margin-right: auto;
      width: 100%; } }
i {
  margin-right: 0.5em; }

footer {
  width: 400px;
  min-height: 500px;
  padding-bottom: 2em;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto; }
  footer h4 {
    margin-top: 2em;
    font-weight: bold; }
  footer p {
    color: #666666;
    padding: 1em 10%; }
  footer li {
    margin-left: 2em;
    line-height: 2em; }

@media (max-width: 720px) {
  footer {
    width: 100%; } }
.contact {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
