body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', sans-serif !important; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  list-style-type: none;
  text-decoration: none; }

h4 {
  text-align: center; }

.fullscreen {
  position: relative;
  width: 100%;
  height: 100%; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.fix {
  position: fixed;
  top: 0px; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', sans-serif !important; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  list-style-type: none;
  text-decoration: none; }

h4 {
  text-align: center; }

.fullscreen {
  position: relative;
  width: 100%;
  height: 100%; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.fix {
  position: fixed;
  top: 0px; }

.band {
  height: 0;
  width: 50px;
  position: absolute;
  top: 25px; }

.red {
  color: #C1272D; }

.red.band {
  border: 3px solid #C1272D; }

.purple {
  color: #4b1040; }

.purple.band {
  border: 3px solid #4b1040; }

.yellow {
  color: #b5a82f; }

.yellow.band {
  border: 3px solid #b5a82f; }

.blue {
  color: #223e71; }

.blue.band {
  border: 3px solid #223e71; }

.green {
  color: #6c6c4b; }

.green.band {
  border: 3px solid #6c6c4b; }

.band.left {
  left: 50%;
  margin-left: -130px; }

.band.right {
  right: 50%;
  margin-right: -130px; }

.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }

.banner.yingshi {
  background: url(./../img/banner/bg_yingshi.png) repeat left top; }

.banner.hongjiu {
  background: url(./../img/banner/bg_hongjiu.png) repeat left top; }

.banner.mote {
  background: url(./../img/banner/bg_mote.png) repeat left top; }

.banner.yangsheng {
  background: url(./../img/banner/bg_yangsheng.png) repeat left top; }

.banner.chenxiang {
  background: url(./../img/banner/bg_chenxiang.png) repeat left top; }

.yangsheng {
  background: url(./../img/tile/yangsheng.png) repeat left top; }

.yingshi {
  background: url(./../img/tile/yingshi.png) repeat left top; }

.hongjiu {
  background: url(./../img/tile/hongjiu.png) repeat left top; }

.chenxiang {
  background: url(./../img/tile/chenxiang.png) repeat left top; }

.mote {
  background: url(./../img/tile/mote.png) repeat left top; }

#homepage-banner {
  width: 100%; }
  #homepage-banner .carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: white; }
  #homepage-banner img {
    position: absolute;
    z-index: 100;
    max-width: 100%;
    right: 10%;
    bottom: 10%; }

@media (max-width: 720px) {
  #homepage-banner img {
    right: 0; } }
#menu {
  width: 100%;
  border-radius: 0px;
  z-index: 100;
  background-color: white;
  padding: 0; }
  #menu .nav-pills, #menu .nav-link {
    border-radius: 0; }
  #menu ul li.nav-item {
    width: 20%;
    line-height: 2em;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    text-align: center; }
  #menu .nav-link {
    color: #666666;
    position: relative; }
    #menu .nav-link.active {
      background-color: #C1272D;
      color: white; }
    #menu .nav-link:after {
      position: absolute;
      right: 1px;
      content: '|';
      width: 1px;
      color: silver; }
  #menu li:last-child .nav-link:after {
    content: ''; }

.title {
  margin-top: 40px;
  position: relative;
  height: 100px; }
  .title img {
    display: block;
    margin: 0 auto;
    z-index: 10;
    width: 256px;
    position: absolute;
    left: 50%;
    margin-left: -128px; }
  .title h4 {
    margin: 0 auto;
    z-index: 10;
    width: 256px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder; }
  .title p {
    position: absolute;
    width: 100%;
    top: 70px;
    text-align: center;
    letter-spacing: 4px; }

.page {
  overflow: hidden; }

@media (min-width: 721px) {
  span.big {
    font-size: 3em; }

  .indent {
    padding-left: 5em; }

  .indent2 {
    padding-left: 10em; } }
.text-block {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  padding-bottom: 2em; }
  .text-block .img-frame {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden; }
  .text-block p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white; }
  .text-block img {
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }

@media (max-width: 720px) {
  .text-block {
    padding: 0;
    min-height: 600px;
    color: white; }
    .text-block .img-frame {
      max-width: 100%;
      margin-bottom: 20px; }
    .text-block p {
      max-width: 100%; }
    .text-block img {
      float: left;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%; } }
i {
  margin-right: 0.5em; }

footer {
  width: 400px;
  min-height: 500px;
  padding-bottom: 2em;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto; }
  footer h4 {
    margin-top: 2em;
    font-weight: bold; }
  footer p {
    color: #666666;
    padding: 1em 10%; }
  footer li {
    margin-left: 2em;
    line-height: 2em; }

@media (max-width: 720px) {
  footer {
    width: 100%; } }
.contact {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
